<div class="detail-devis-container">
    <div class="devis-header">
      <div class="devis-status">
        <div class="status-indicators">

          <p-button
            label="Brouillon"
            [styleClass]="devis?.etat === 'Brouillon' ? 'p-button-info' : 'p-button-outlined p-button-secondary'"
            [disabled]="true">
          </p-button>
          <p-button
            label="Confirmé"
            [styleClass]="devis?.etat === 'Confirmé' ? 'p-button-success' : 'p-button-outlined p-button-secondary'"
            [disabled]="true">
          </p-button>
          <p-button
            label="Facturé"
            [styleClass]="devis?.etat === 'Facturé' ? 'p-button-success' : 'p-button-outlined p-button-secondary'"
            [disabled]="true">
          </p-button>
          <p-button
            label="Annulé"
            [styleClass]="devis?.etat === 'Annulé' ? 'p-button-danger' : 'p-button-outlined p-button-secondary'"
            [disabled]="true">
          </p-button>
        </div>
      </div>

      <h1>DEVIS N° {{ devis?.numero || '00000' }}</h1>

      <div class="devis-info">

        <div class="devis-details">
          <p><strong>Date du devis :</strong> {{ devis?.dateCreation | date:'dd/MM/yyyy' }}</p>
          <p><strong>Condition de paiement :</strong>30 jours</p>
        </div>
      </div>

      <div *ngIf="vehicule" class="vehicule-info">
        <div class="info-row">
          <div class="info-item">
            <strong>Immatriculation</strong>
            <span>{{ vehicule.matricule }}</span>
          </div>
          <div class="info-item">
            <strong>Marque</strong>
            <span>{{ vehicule.marque }}</span>
          </div>
        </div>
        <div class="info-row">
          <div class="info-item">
            <strong>Année</strong>
            <span>{{ vehicule.annee }} km</span>
          </div>
          <div class="info-item">
            <strong>Modèle</strong>
            <span>{{ vehicule.modele }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="devis-content">
      <table class="lignes-table">
        <thead>
          <tr>
            <th>Référence</th>
            <th>Article</th>
            <th>Description</th>
            <th>Remise</th>
            <th>Prix U. HT</th>
            <th>Taxe</th>
            <th>Qté</th>
            <th>Total TTC</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ligne of devis?.lignes">
            <td>{{ ligne.reference }}</td>
            <td>{{ ligne.service }}</td>
            <td>{{ ligne.description }}</td>
            <td>{{ ligne.remise }}%</td>
            <td>{{ ligne.prixUnitaireHT | currency:'EUR' }}</td>
            <td>{{ ligne.taxe }}%</td>
            <td>{{ ligne.quantite }}</td>
            <td>{{ ligne.totalTTC | currency:'EUR' }}</td>
          </tr>
          <tr *ngIf="!devis?.lignes?.length">
            <td colspan="8" class="no-data">Aucune ligne dans ce devis</td>
          </tr>
        </tbody>
      </table>

      <div class="totals">
        <div class="total-item">
          <span>Montant HT :</span>
          <span>{{ totalHT | currency:'EUR' }}</span>
        </div>
        <div class="total-item">
          <span>Taxes :</span>
          <span>{{ totalTaxes | currency:'EUR' }}</span>
        </div>
        <div class="total-item total-ttc">
          <span>Total :</span>
          <span>{{ devis?.totalTTC | currency:'EUR' }}</span>
        </div>
      </div>
    </div>



    <div class="devis-actions">
      <button class="btn-action" (click)="confirmerDevis()" *ngIf="devis?.etat === 'Brouillon'">Confirmer le devis</button>
      <button class="btn-action" *ngIf="devis?.etat !== 'Facturé'" (click)="modifierDevis()">Modifier</button>
      <button class="btn-action" (click)="facturerDevis()" *ngIf="devis?.etat === 'Confirmé'">Facturer</button>
      <button class="btn-action btn-danger" (click)="annulerDevis()" *ngIf="devis?.etat !== 'Annulé'">Annuler</button>
    </div>
  </div>

  <p-confirmDialog></p-confirmDialog>


