<div class="nouveau-devis-container">
    <h1>Nouveau Devis</h1>

    <form [formGroup]="devisForm" (ngSubmit)="onSubmit()">
        <div class="form-sections">
            <div class="form-section">
                <h2>Informations sur le client</h2>
                <div class="form-group">
                    <label for="client">Client</label>
                    <!-- <select id="client" formControlName="clientId">
                        <option value="">Sélectionner un client</option>
                        <option *ngFor="let client of clients" [value]="client.id">{{ client.nom }}</option>
                    </select> -->
                    <input type="text" [value]="user.nom" [disabled]="true">
                </div>

                <div class="form-group">
                    <label for="vehicule">Véhicule</label>
                    <select id="vehicule" formControlName="vehicule">
                        <option value="">Sélectionner un véhicule</option>
                        <option *ngFor="let vehicule of vehicules" [value]="vehicule._id">{{ vehicule.marque}} {{ vehicule.matricule}}</option>
                    </select>
                </div>
            </div>

            <div class="form-section">
                <h2>Informations générales</h2>
                <div class="form-group">
                    <label for="dateCommande">Date de la commande</label>
                    <input type="date" id="dateCommande" formControlName="dateCommande">
                </div>

                <div class="form-group">
                    <label for="conditionPaiement">Condition de paiement</label>
                    <select id="conditionPaiement" formControlName="conditionPaiement">
                        <option value="">Sélectionner une condition</option>
                        <option value="comptant">Comptant</option>
                        <option value="30jours">30 jours</option>
                        <option value="60jours">60 jours</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="lignes-devis">
            <table class="lignes-table">
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Durée (min)</th>
                        <th>Prix U. HT</th>
                        <th>Taxe</th>
                        <th>Qté</th>
                        <th>Total TTC</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="lignes">
                    <tr *ngFor="let ligne of lignesArray.controls; let i = index" [formGroupName]="i">
                        <td>
                            <select id="conditionPaiement" formControlName="conditionPaiement">
                                <option [defaultSelected]="true" value="Voiture">Voiture</option>
                                <option value="Moto">Moto</option>
                            </select>
                        </td>
                        <td>
                            <select formControlName="articleId" (change)="onArticleChange(i)">
                                <option value="">Sélectionner</option>
                                <option *ngFor="let service of services" [value]="service._id">
                                    {{ service.nom }}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="text" formControlName="description" readonly>
                        </td>
                        <td>
                            <input type="number" formControlName="duree" readonly>
                        </td>
                        <td>
                            <input type="number" formControlName="prixUnitaireHT" (input)="calculerTotal(i)" readonly>
                        </td>
                        <td>
                            <input type="number" formControlName="taxe" (input)="calculerTotal(i)" readonly>
                        </td>
                        <td>
                            <input type="number" formControlName="quantite" (input)="calculerTotal(i)">
                        </td>
                        <td>
                            <input type="number" formControlName="totalTTC" readonly>
                        </td>
                        <td>
                            <button type="button" class="btn-remove" (click)="supprimerLigne(i)">
                                <i class="pi pi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn-add-line" (click)="ajouterLigne()">
                <i class="pi pi-plus-circle"></i> Ajouter une ligne
            </button>
        </div>

        <div class="totals">
            <div class="total-item">
                <span>Montant HT :</span>
                <span>{{ totalHT }} Ariary</span>
            </div>
            <div class="total-item">
                <span>Taxes :</span>
                <span>{{ totalTaxes }} Ariary</span>
            </div>
            <div class="total-item total-ttc">
                <span>Total :</span>
                <span>{{ totalTTC }} Ariary</span>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn-cancel" (click)="annuler()">Annuler</button>
            <button type="submit" class="btn-create" [disabled]="devisForm.invalid">Envoyer la demande</button>
        </div>
    </form>
</div>
