<div class="flex flex-col">
    <div class="card">
        <div class="font-semibold text-xl mb-4">{{ client?.nom }} {{ client?.prenom }}</div>

    </div>

    <div class="flex flex-col md:flex-row h-screen">
        <!-- Accordion prend 1/4 de la largeur -->
        <div class="md:w-1/4 h-full">
            <div class="bg-white shadow-lg rounded-lg p-6 border border-gray-200 h-full">
                <h2 class="text-xl font-bold text-blue-600 mb-4">Informations</h2>

                <div class="flex items-center space-x-2">
                    <p-button icon="pi pi-map-marker" severity="info" text raised rounded />
                    <span class="font-semibold text-lg text-black-700">Adresse : {{ client?.adresse }}</span>
                </div>


                <div class="flex items-center space-x-2">
                    <p-button icon="pi pi-envelope" severity="info" text raised rounded />
                    <span class="font-semibold text-lg text-black-700">Email : {{ client?.email }}</span>
                </div>


                <div class="flex items-center space-x-2">
                    <p-button icon="pi pi-phone" severity="info" text raised rounded />
                    <span class="font-semibold text-lg text-black-700">Contact :{{ client?.contact }}</span>
                </div>

                </div>
                <hr class="mt-6 border-t border-gray-300">
                <p-button label="Modifier" icon="pi pi-pencil"severity="secondary"  />
            </div>
        </div>

        <!-- Panel prend le reste de l'espace -->
        <div class="md:w-3/4 h-full flex flex-col ml-4">
            <div class="card p-4">
                <p-menubar [model]="nestedMenuItems" class="w-full"></p-menubar>
            </div>
            <div class="grid ">
                <div *ngIf="showStatClient" class="w-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="card">
                            <div class="flex justify-between mb-4">
                                <div>
                                    <span class="block text-muted-color font-medium mb-4">Devis</span>
                                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152</div>
                                </div>
                                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                                    <i class="pi pi-file text-blue-500 !text-xl"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="flex justify-between mb-4">
                                <div>
                                    <span class="block text-muted-color font-medium mb-4">Montant Total facturé</span>
                                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">$12.100</div>
                                </div>
                                <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                                    <i class="pi pi-dollar text-orange-500 !text-xl"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="flex justify-between mb-4">
                                <div>
                                    <span class="block text-muted-color font-medium mb-4">Montant Total payé</span>
                                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">28,441</div>
                                </div>
                                <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                                    <i class="pi pi-dollar text-green-500 !text-xl"></i>
                                </div>
                            </div>

                        </div>

                        <div class="card">
                            <div class="flex justify-between mb-4">
                                <div>
                                    <span class="block text-muted-color font-medium mb-4">Factures en attente</span>
                                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">2</div>
                                </div>
                                <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border" style="width: 2.5rem; height: 2rem">
                                    <i class="pi pi-receipt text-purple-500 !text-xl"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <app-rendez-vous *ngIf="showRv"></app-rendez-vous>
            </div>
        </div>
    </div>
