<div class="card">
    <div class="font-semibold text-xl mb-4">Rendez-vous</div>
    <p-table
        #dt1
        [value]="rendezVous"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
        [globalFilterFields]="['date', 'service', 'client', 'etat']"
        responsiveLayout="scroll"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Date
                        <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Créneau
                        <p-columnFilter type="text" field="ville" display="menu" placeholder="Search by country"></p-columnFilter>
                    </div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Client
                        <p-columnFilter type="text" field="email" display="menu" placeholder="Search by country"></p-columnFilter>
                    </div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Etat
                        <p-columnFilter field="etat" matchMode="equals" display="menu">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-select [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{ 'min-width': '12rem' }">
                                    <ng-template let-option #item>
                                        <span [class]="'customer-badge status-' + option.value">{{ option.label }}</span>
                                    </ng-template>
                                </p-select>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template #body let-rendezVous>
            <tr class="cursor-pointer hover:bg-gray-100"  (click)="getDetails(rendezVous)">
                <td>
                    {{ rendezVous.date | date: 'dd/MM/yyyy' }}
                </td>
                <td>
                    <p-button label="{{ rendezVous.startTime }}" severity="help" outlined />
                     -
                    <p-button label="{{ rendezVous.endTime }}" severity="help" outlined />
                </td>

                <td>
                    {{ rendezVous.client }}
                </td>

                <td class="text-center">
                    <p-tag  [value]="rendezVous.etat.toLowerCase()" [severity]="getSeverity(rendezVous.etat.toLowerCase())" styleClass="dark:!bg-surface-900" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Aucun rendez-vous trouvé.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Loading customers data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>


    <p-dialog [(visible)]="rdvDialog" [style]="{ width: '500px' }" [modal]="true">
        <ng-template pTemplate="header">
            <div class="flex justify-between items-center">
                <!-- Bouton dans le header -->
                <p-button [label]="selectedRdv?.etat" [icon]="getSeverityIcon(selectedRdv?.etat.toLowerCase())"
                    [severity]="getSeverity(selectedRdv?.etat.toLowerCase())" >
                </p-button>


            </div>
        </ng-template>

        <div class="p-4">

            <!-- Infos client -->
            <div class="flex items-center gap-3 mb-4">
                <i class="pi pi-user text-xl"></i>
                <div>
                    <div class="font-semibold text-lg">{{ getClient(selectedRdv?.client)?.nom }}</div>
                    <div class="text-gray-500">{{ getClient(selectedRdv?.client)?.contact }}</div>
                </div>
            </div>

            <!-- Date et heure -->
            <div class="flex items-center gap-3 mb-4">
                <i class="pi pi-calendar text-xl"></i>
                <div>

                    <div class="font-semibold">{{ selectedRdv?.startTime }} - {{ selectedRdv?.endTime }}</div>
                    <div class="text-gray-500">{{ selectedRdv?.date | date: 'EEEE, d MMMM yyyy' }}</div>
                </div>
            </div>

            <!-- Service -->
            <div class="flex items-center gap-3 mb-4">
                <i class="pi pi-briefcase text-xl"></i>
                <div>
                    <div *ngFor="let serviceItem of selectedRdv?.service" class="font-semibold">
                        {{ serviceItem }}
                      </div>
                </div>
            </div>


            <!-- Commentaire -->
            <div class="flex items-center gap-3 mb-4">
                <i class="pi pi-comment text-xl"></i>
                <div class="text-gray-500">{{ selectedRdv?.description }}</div>
            </div>

            <!-- Actions -->
            <div class="flex justify-end gap-2 ml-auto">
                <button pButton icon="pi pi-pencil" class="p-button-outlined p-button-secondary" (click)="UpdateRdvDialog(true,selectedRdv)"></button>
                <button pButton icon="pi pi-trash" class="p-button-outlined p-button-danger"></button>
            </div>

        </div>
    </p-dialog>

    <p-dialog [(visible)]="updatingDialog" [modal]="true" [header]="isEdit ? 'Modifier le Rendez-vous' : 'Nouveau Rendez-vous'" [style]="{width: '500px'}">
        <form [formGroup]="rdvForm" (ngSubmit)="onSubmit()">
          <div class="p-fluid">
            <div class="p-field">
              <label for="client">Client</label>
              <input id="client" type="text" pInputText formControlName="client" />
            </div>
            
            <div class="p-field">
              <label for="services">Services</label>
              <p-button label="Secondary" severity="secondary" outlined />
              <p-button label="Secondary" severity="secondary" outlined />

            </div>
            
            <div class="p-field">
              <label for="date">Date</label>
              <p-calendar id="date" formControlName="date" [showIcon]="true"></p-calendar>
            </div>
            
            <div class="p-field">
              <label for="startTime">Heure de début</label>
              <p-inputMask id="startTime" formControlName="startTime" mask="99:99"></p-inputMask>
            </div>
            
            <div class="p-field">
              <label for="endTime">Heure de fin</label>
              <p-inputMask id="endTime" formControlName="endTime" mask="99:99"></p-inputMask>
            </div>
            
            <div class="p-field">
              <label for="description">Description</label>
              <textarea id="description" pInputTextarea formControlName="description"></textarea>
            </div>
            
            <div class="p-field">
              <label for="etat">État</label>
              <p-dropdown id="etat" formControlName="etat" [options]="statuses" optionLabel="name"></p-dropdown>
            </div>
          </div>
          
          <div class="p-dialog-footer">
            <button pButton type="button" label="Annuler" icon="pi pi-times" (click)="closeUpdatingDialog()"></button>
            <button pButton type="submit" label="Enregistrer" icon="pi pi-check" [disabled]="rdvForm.invalid"></button>
          </div>
        </form>
      </p-dialog>

</div>